<!--{% import "bootstrap/wtf.html" as wtf %}-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

{% extends "base.html" %}

{% block page_content %}
    <h1>Login to FlaskDomo</h1>
    <div>
        <div>
        <!--  {{ wtf.quick_form(form) }}-->
          <form method="post" action="/login" name="login">
              {{ form.hidden_tag() }}
              {{ form.username.label(id='usernamelabel') }} {{ form.username() }}
              {{ form.password.label }} {{ form.password() }}
              {{ form.submit() }}
            </form>
        </div>
    </div>
{% endblock %}
